
h1 {
  color: blue;
}

.scrollable {
  overflow-y: scroll;
  height:600px;
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  border-color: darkblue;
  border-style: solid;
}

#header-pane-toggle {
  border-radius: 25px;
  color: blue;
  background-color: lightblue;
  border-color: blue;
  width: 10%;
  position: absolute;
  left: 45%;
  top: 0;

}

.header-pane {
  position: relative;
}

body {
  background-color: lightgray;
}

.new-food-input {
  width: 100%;
}

.new-food-input input{
  width: 20%;
}

.new-food-input button{
  width: 15%;
}
